
.body:focus-visible
{
    outline: 2px solid crimson;
  border-radius: 3px;
}
.row {
	padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #0F0F0F;

}
h1{
    text-align: center;
}
.a:focus-visible{
    outline: 2px solid crimson;
  border-radius: 3px;
}